

<ul class="nav nav-pills centered">
  <li class="active"><a href="#">Inicio</a></li>
  <li><a href="#/sectors/new">Crear una Nueva Lista</a></li>
  <li><a href="#">Cerrar Sesión</a></li>
  <li><%= link_to "Iniciar Sesión", new_user_session_path %></li>
</ul>

